<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Product Saved</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
  </head>

  <body class="jumbotron">
    <div class="text-center m-5">
      <div class="jumbotron mt-0 pb-0 mx-lg-auto mx-md-auto mx-2 text-center col d-flex justify-content-center">
        <div class="card py-5 mt-0 px-3 px-lg-5 px-md-5 w-lg-50" style="align-items: center;">
          
          <h1 class="display-5 fw-bold"> <b><%=message_title%></b> </h1>
          <h6 class="text-center mt-3 form-text text-muted"><%=message_text%></h6>
          <br><br>
          <a href="/" class="mt-5 btn btn-primary btn-lg">Add another</a>
        </div>
      </div>


    </div>

  </body>
</html>
